/* 
 * Minimal, clean styling inspired by macwright.com 
 */

:root {
	--accent: oklch(50.8% 0.118 165.612);
	--accent-hover: oklch(43.2% 0.095 166.913);
	--black: 0, 0, 0;
	--gray: 102, 102, 102;
	--gray-light: 238, 238, 238;
	--gray-dark: 51, 51, 51;
	--border-color: #e6e6e6;
}

/* Use border-box so padding doesn't cause horizontal overflow on mobile */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--black));
	font-size: 16px;
	line-height: 1.6;
}

main {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 0.5em 0;
	color: rgb(var(--black));
	line-height: 1.3;
	font-weight: 600;
}

h1 {
	font-size: 1.75em;
	margin: 1em 0 0.5em 0;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4,
h5,
h6 {
	font-size: 1em;
}

strong,
b {
	font-weight: 600;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent-hover);
	text-decoration: underline;
}

p {
	margin-bottom: 1.2em;
}

.prose p {
	margin-bottom: 1.2em;
}
textarea {
	width: 100%;
	font-size: 16px;
	font-family: inherit;
}

input {
	font-size: 16px;
	font-family: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
}

td, th {
	padding: 0.5em;
	border: 1px solid var(--border-color);
}

th {
	background: #f9f9f9;
	font-weight: 600;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
	margin: 1em 0;
}

code {
	padding: 2px 4px;
	background-color: #f5f5f5;
	border-radius: 3px;
	font-family: "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas, "Courier New", monospace;
	font-size: 0.9em;
}

pre {
	padding: 1em;
	border-radius: 3px;
	background: #f8f8f8;
	border: 1px solid var(--border-color);
	overflow-x: auto;
	margin: 1em 0;
}

pre > code {
	all: unset;
	font-family: "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas, "Courier New", monospace;
}

blockquote {
	border-left: 3px solid var(--accent);
	padding: 0 0 0 1em;
	margin: 1em 0;
	font-style: italic;
	color: rgb(var(--gray));
}

hr {
	border: none;
	border-top: 1px solid var(--border-color);
	margin: 2em 0;
}

ul, ol {
	padding-left: 1.5em;
	margin: 1em 0;
}

li {
	margin: 0.3em 0;
}
@media (max-width: 720px) {
	body {
		font-size: 16px;
	}
	main {
		padding: 0 15px;
	}
}

/* Blog post list styles */
.blog-list {
	list-style: none;
	padding: 0;
	margin: 2em 0;
}

.blog-list li {
	margin: 1.5em 0;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 1em;
}

.blog-list li:last-child {
	border-bottom: none;
}

.blog-list .post-date {
	color: rgb(var(--gray));
	font-size: 0.9em;
	margin-left: 0.5em;
}

.blog-list a {
	font-weight: 500;
}

/* Navigation arrow */
.nav-arrow {
	margin-left: 0.3em;
	font-size: 0.8em;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
