---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`About - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>About</h1>
    </main>
    <Footer />
  </body>
</html>

<style>
  h1 {
    margin: 0 0 2em 0;
    font-size: 1.75em;
    font-weight: 600;
  }
</style>
