---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="intro">
        <p>Hey I'm Wessel. I'm a software developer.</p>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .intro {
    margin-bottom: 3em;
    font-size: 1.1em;
    line-height: 1.6;
  }
</style>
