@layer pico, custom;

@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css") layer(pico);

@layer custom {
    :root {
        --pico-font-family-sans-serif: "Montserrat", Ubuntu, sans-serif, var(--pico-font-family-emoji);
    }

    body {
        max-width: 70ch;
        margin-inline: auto;

        main {
            padding-block: 0.25rem;
        }

        header {
            padding-block-end: 0.25rem;

            .title {
                color: var(--pico-h1-color);
            }
        }
    }

    footer>section {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
            font-size: 0.75rem;
            color: var(--pico-secondary);
        }
    }

    main {
        time {
            display: block;
            font-family: var(--pico-font-family-monospace);
            margin-block: 1rem;
        }
    }
}