<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header>
        <a class="title" href="/">
            <h2>Wessel's blog</h1>
        </a>
        <nav>
            {{range .Nav}}
            <a href="{{.}}">{{.}}</a>
            {{end}}
        </nav>
        <hr />
    </header>
    <main>
        {{.HtmlContent}}
    </main>
</body>

</html>