<h1>{{.Title}}</h1>
<section class="meta">
    {{template "tags.html" .Tags}}
    <time datetime="{{.CreatedAt}}">Written on {{.CreatedAt}}</time>
</section>


{{.HtmlContent}}

<hr />

<script src="https://giscus.app/client.js" data-repo="wvanlit/wvanlit.github.io" data-repo-id="R_kgDOLKWmZw"
    data-category="Page Comments" data-category-id="DIC_kwDOLKWmZ84CjU-x" data-mapping="pathname" data-strict="0"
    data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="dark" data-lang="en"
    data-loading="lazy" crossorigin="anonymous" async>
    </script>

<div class="giscus"></div>