<table class="striped toc">
    <thead>
        <tr>
            <th scope="col" style="width: 10ch;"></th>
            <th scope="col"></th>
            <th scope="col" style="width: 25ch;"></th>
        </tr>
    </thead>
    {{range .}}
    <tr>
        <td>{{.CreatedAt}}</td>
        <th scope="row"><a href="/{{.Path}}">{{.Title}}</a></th>
        <td>
            {{template "tags.html" .Tags}}
        </td>
    </tr>
    {{else}}
    <tr>
        <td colspan="3" style="text-align: center;">nothing (yet)</td>
    </tr>
    {{end}}
</table>

<script src="/toc_filter.js" type="text/javascript"></script>