---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} - Wessel van Lit`}>
    <div class="post-header">
        <h1 class="post-title">{post.data.title}</h1>
        <span class="post-date">{post.data.date}</span>
    </div>

    <article>
        <Content />
    </article>
</BaseLayout>
